-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: cbs_python
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cbs_accounts`
--

DROP TABLE IF EXISTS `cbs_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_accounts` (
  `account_number` varchar(20) NOT NULL,
  `customer_id` varchar(20) NOT NULL,
  `account_type` enum('SAVINGS','CURRENT','FIXED_DEPOSIT','RECURRING_DEPOSIT','LOAN','SALARY','NRI','PENSION','CORPORATE','JOINT') NOT NULL,
  `branch_code` varchar(20) NOT NULL,
  `ifsc_code` varchar(20) NOT NULL,
  `opening_date` datetime DEFAULT NULL,
  `balance` decimal(12,2) NOT NULL,
  `interest_rate` decimal(5,2) DEFAULT NULL,
  `status` enum('ACTIVE','DORMANT','FROZEN','CLOSED','SUSPENDED','ONHOLD') NOT NULL,
  `last_transaction` datetime DEFAULT NULL,
  `nominee_name` varchar(100) DEFAULT NULL,
  `nominee_relation` varchar(50) DEFAULT NULL,
  `service_charges_applicable` tinyint(1) DEFAULT NULL,
  `minimum_balance` decimal(10,2) DEFAULT NULL,
  `overdraft_limit` decimal(12,2) DEFAULT NULL,
  `joint_holders` varchar(255) DEFAULT NULL,
  `account_category` enum('REGULAR','PREMIUM','ZERO_BALANCE','SENIOR_CITIZEN','STUDENT','MINOR') DEFAULT NULL,
  `account_manager` varchar(50) DEFAULT NULL,
  `sweep_in_facility` tinyint(1) DEFAULT NULL,
  `sweep_out_facility` tinyint(1) DEFAULT NULL,
  `sweep_account` varchar(20) DEFAULT NULL,
  `auto_renewal` tinyint(1) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `closing_date` datetime DEFAULT NULL,
  `closing_reason` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`account_number`),
  KEY `customer_id` (`customer_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_admin_users`
--

DROP TABLE IF EXISTS `cbs_admin_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_admin_users` (
  `admin_id` varchar(20) NOT NULL,
  `username` varchar(50) NOT NULL,
  `password_hash` varchar(128) NOT NULL,
  `salt` varchar(64) NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `mobile` varchar(20) NOT NULL,
  `department` varchar(50) NOT NULL,
  `branch_code` varchar(20) NOT NULL,
  `employee_id` varchar(20) NOT NULL,
  `role` varchar(50) NOT NULL,
  `status` varchar(50) NOT NULL,
  `password_expiry_date` date NOT NULL,
  `account_locked` tinyint(1) DEFAULT NULL,
  `failed_login_attempts` int DEFAULT NULL,
  `last_login` datetime DEFAULT NULL,
  `last_password_change` datetime DEFAULT NULL,
  `access_level` int DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `created_by` varchar(20) DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `updated_by` varchar(20) DEFAULT NULL,
  `requires_2fa` tinyint(1) DEFAULT NULL,
  `two_fa_method` varchar(20) DEFAULT NULL,
  `two_fa_secret` varchar(128) DEFAULT NULL,
  `direct_reports` varchar(255) DEFAULT NULL,
  `permissions` text,
  `session_timeout_minutes` int DEFAULT NULL,
  `ip_restriction` varchar(255) DEFAULT NULL,
  `allowed_login_times` varchar(255) DEFAULT NULL,
  `last_security_training` date DEFAULT NULL,
  `security_questions_answered` tinyint(1) DEFAULT NULL,
  `out_of_office` tinyint(1) DEFAULT NULL,
  `delegate_to` varchar(20) DEFAULT NULL,
  `biometric_registered` tinyint(1) DEFAULT NULL,
  `profile_picture` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`admin_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `employee_id` (`employee_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_atm_cash_operations`
--

DROP TABLE IF EXISTS `cbs_atm_cash_operations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_atm_cash_operations` (
  `operation_id` varchar(36) NOT NULL,
  `atm_id` varchar(20) NOT NULL,
  `operation_type` enum('LOAD','UNLOAD','AUDIT','MAINTENANCE') NOT NULL,
  `denomination_2000` int DEFAULT '0',
  `denomination_500` int DEFAULT '0',
  `denomination_200` int DEFAULT '0',
  `denomination_100` int DEFAULT '0',
  `amount` decimal(12,2) NOT NULL,
  `performed_by` varchar(20) NOT NULL,
  `verified_by` varchar(20) DEFAULT NULL,
  `custodian` varchar(100) DEFAULT NULL,
  `balance_before` decimal(12,2) NOT NULL,
  `balance_after` decimal(12,2) NOT NULL,
  `operation_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `completion_date` datetime DEFAULT NULL,
  `discrepancy_amount` decimal(10,2) DEFAULT '0.00',
  `status` enum('INITIATED','IN_PROGRESS','COMPLETED','FAILED','CANCELLED') NOT NULL DEFAULT 'INITIATED',
  `notes` text,
  PRIMARY KEY (`operation_id`),
  KEY `performed_by` (`performed_by`),
  KEY `verified_by` (`verified_by`),
  KEY `idx_operation_atm` (`atm_id`),
  KEY `idx_operation_date` (`operation_date`),
  KEY `idx_operation_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_atm_machines`
--

DROP TABLE IF EXISTS `cbs_atm_machines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_atm_machines` (
  `atm_id` varchar(20) NOT NULL,
  `atm_type` enum('ONSITE','OFFSITE','DRIVE_THROUGH','MOBILE','KIOSK') NOT NULL DEFAULT 'ONSITE',
  `location` varchar(255) NOT NULL,
  `address` varchar(255) NOT NULL,
  `city` varchar(100) NOT NULL,
  `state` varchar(100) NOT NULL,
  `pin_code` varchar(10) NOT NULL,
  `geo_coordinates` varchar(50) DEFAULT NULL,
  `branch_code` varchar(20) NOT NULL,
  `manufacturer` varchar(100) DEFAULT NULL,
  `model` varchar(100) DEFAULT NULL,
  `serial_number` varchar(100) NOT NULL,
  `ip_address` varchar(15) DEFAULT NULL,
  `status` enum('ONLINE','OFFLINE','MAINTENANCE','OUT_OF_CASH','PARTIAL_SERVICE') NOT NULL DEFAULT 'ONLINE',
  `cash_balance` decimal(12,2) NOT NULL DEFAULT '0.00',
  `cash_limit` decimal(12,2) NOT NULL DEFAULT '1000000.00',
  `last_maintenance` datetime DEFAULT NULL,
  `next_maintenance_due` datetime DEFAULT NULL,
  `last_cash_refill` datetime DEFAULT NULL,
  `installation_date` date NOT NULL,
  `is_accessible` tinyint(1) DEFAULT '1',
  `supports_deposit` tinyint(1) DEFAULT '0',
  `supports_cardless` tinyint(1) DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`atm_id`),
  UNIQUE KEY `serial_number` (`serial_number`),
  KEY `idx_atm_status` (`status`),
  KEY `idx_atm_location` (`location`),
  KEY `idx_atm_branch` (`branch_code`),
  KEY `idx_atm_city` (`city`),
  KEY `idx_atm_state` (`state`),
  KEY `idx_atm_pincode` (`pin_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_audit_logs`
--

DROP TABLE IF EXISTS `cbs_audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_audit_logs` (
  `log_id` bigint NOT NULL AUTO_INCREMENT,
  `timestamp` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `user_id` varchar(50) DEFAULT NULL,
  `action` enum('LOGIN','LOGOUT','CREATE','UPDATE','DELETE','VIEW','PIN_CHANGE','PASSWORD_CHANGE','CARD_BLOCK','CARD_UNBLOCK','CARD_ISSUE','ACCOUNT_FREEZE','ACCOUNT_UNFREEZE','LIMIT_CHANGE','KYC_UPDATE','BENEFICIARY_ADD','BENEFICIARY_DELETE','PERMISSION_CHANGE') NOT NULL,
  `entity_type` varchar(50) NOT NULL,
  `entity_id` varchar(50) NOT NULL,
  `previous_value` text,
  `new_value` text,
  `details` text,
  `ip_address` varchar(50) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `channel` varchar(50) DEFAULT NULL,
  `session_id` varchar(64) DEFAULT NULL,
  `status` enum('SUCCESS','FAILURE','WARNING') NOT NULL DEFAULT 'SUCCESS',
  PRIMARY KEY (`log_id`,`timestamp`),
  KEY `idx_audit_timestamp` (`timestamp`),
  KEY `idx_audit_user` (`user_id`),
  KEY `idx_audit_action` (`action`),
  KEY `idx_audit_entity` (`entity_type`,`entity_id`),
  KEY `idx_audit_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_beneficiaries`
--

DROP TABLE IF EXISTS `cbs_beneficiaries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_beneficiaries` (
  `beneficiary_id` varchar(36) NOT NULL,
  `customer_id` varchar(20) NOT NULL,
  `beneficiary_name` varchar(100) NOT NULL,
  `account_number` varchar(20) NOT NULL,
  `ifsc_code` varchar(11) NOT NULL,
  `bank_name` varchar(100) NOT NULL,
  `branch_name` varchar(100) DEFAULT NULL,
  `account_type` enum('SAVINGS','CURRENT','CASH_CREDIT','LOAN','NRE','NRO') NOT NULL,
  `nickname` varchar(50) DEFAULT NULL,
  `status` enum('ACTIVE','INACTIVE','DELETED') NOT NULL DEFAULT 'ACTIVE',
  `last_transfer_date` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`beneficiary_id`),
  KEY `idx_beneficiary_customer` (`customer_id`),
  KEY `idx_beneficiary_account` (`account_number`),
  KEY `idx_beneficiary_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_bill_payments`
--

DROP TABLE IF EXISTS `cbs_bill_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_bill_payments` (
  `payment_id` varchar(36) NOT NULL,
  `transaction_id` varchar(36) NOT NULL,
  `customer_id` varchar(20) NOT NULL,
  `biller_id` varchar(50) NOT NULL,
  `biller_name` varchar(100) NOT NULL,
  `biller_category` varchar(20) NOT NULL,
  `consumer_id` varchar(50) NOT NULL,
  `bill_amount` decimal(12,2) NOT NULL,
  `due_date` date DEFAULT NULL,
  `payment_date` datetime DEFAULT NULL,
  `payment_channel` varchar(20) NOT NULL,
  `status` varchar(20) NOT NULL,
  `receipt_number` varchar(50) DEFAULT NULL,
  `convenience_fee` decimal(10,2) DEFAULT NULL,
  `bill_period_from` date DEFAULT NULL,
  `bill_period_to` date DEFAULT NULL,
  `bill_number` varchar(50) DEFAULT NULL,
  `autopay_enabled` tinyint(1) DEFAULT NULL,
  `autopay_limit` decimal(12,2) DEFAULT NULL,
  `retry_count` int DEFAULT NULL,
  `next_retry_date` datetime DEFAULT NULL,
  PRIMARY KEY (`payment_id`),
  KEY `transaction_id` (`transaction_id`),
  KEY `customer_id` (`customer_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_branches`
--

DROP TABLE IF EXISTS `cbs_branches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_branches` (
  `branch_code` varchar(20) NOT NULL,
  `branch_name` varchar(100) NOT NULL,
  `branch_type` enum('HEAD_OFFICE','REGIONAL','MAIN','EXTENSION_COUNTER','SATELLITE') NOT NULL,
  `address` varchar(255) NOT NULL,
  `city` varchar(100) NOT NULL,
  `state` varchar(100) NOT NULL,
  `country` varchar(100) NOT NULL DEFAULT 'India',
  `pin_code` varchar(10) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `email` varchar(100) NOT NULL,
  `ifsc_code` varchar(11) NOT NULL,
  `micr_code` varchar(9) DEFAULT NULL,
  `manager_id` varchar(20) DEFAULT NULL,
  `opening_date` date NOT NULL,
  `status` enum('ACTIVE','INACTIVE','CLOSED') NOT NULL DEFAULT 'ACTIVE',
  `working_hours` varchar(100) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`branch_code`),
  UNIQUE KEY `ifsc_code` (`ifsc_code`),
  KEY `idx_branch_name` (`branch_name`),
  KEY `idx_branch_ifsc` (`ifsc_code`),
  KEY `idx_branch_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_cards`
--

DROP TABLE IF EXISTS `cbs_cards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_cards` (
  `card_id` varchar(20) NOT NULL,
  `account_id` varchar(20) NOT NULL,
  `card_number` varchar(20) NOT NULL,
  `card_type` enum('DEBIT','CREDIT','PREPAID','INTERNATIONAL','VIRTUAL','CORPORATE','TRAVEL','GIFT','COMMERCIAL') NOT NULL,
  `card_network` enum('VISA','MASTERCARD','RUPAY','AMEX','DINERS','JCB','UNIONPAY','DISCOVER') NOT NULL,
  `expiry_date` date NOT NULL,
  `cvv` varchar(3) NOT NULL,
  `pin_hash` varchar(128) NOT NULL,
  `status` enum('ACTIVE','INACTIVE','BLOCKED','EXPIRED','HOTLISTED','PENDING_ACTIVATION','SUSPENDED') NOT NULL,
  `issue_date` date NOT NULL,
  `daily_atm_limit` decimal(10,2) NOT NULL,
  `daily_pos_limit` decimal(10,2) NOT NULL,
  `daily_online_limit` decimal(10,2) NOT NULL,
  `primary_user_name` varchar(100) NOT NULL,
  `international_usage_enabled` tinyint(1) DEFAULT NULL,
  `contactless_enabled` tinyint(1) DEFAULT NULL,
  `credit_limit` decimal(12,2) DEFAULT NULL,
  `available_credit` decimal(12,2) DEFAULT NULL,
  `reward_points` int DEFAULT NULL,
  `billing_date` int DEFAULT NULL,
  `due_date_offset` int DEFAULT NULL,
  `card_variant` varchar(50) DEFAULT NULL,
  `chip_type` enum('EMV','CONTACTLESS','MAGSTRIPE') DEFAULT NULL,
  `virtual_card_linked` tinyint(1) DEFAULT NULL,
  `activation_date` datetime DEFAULT NULL,
  `otp_enabled` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`card_id`),
  UNIQUE KEY `card_number` (`card_number`),
  KEY `account_id` (`account_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_cheque_books`
--

DROP TABLE IF EXISTS `cbs_cheque_books`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_cheque_books` (
  `cheque_book_id` varchar(36) NOT NULL,
  `account_number` varchar(20) NOT NULL,
  `start_number` varchar(20) NOT NULL,
  `end_number` varchar(20) NOT NULL,
  `leaves_count` int NOT NULL,
  `issue_date` date NOT NULL,
  `requested_by` varchar(50) DEFAULT NULL,
  `status` enum('REQUESTED','ISSUED','DELIVERED','ACTIVATED','CANCELLED') NOT NULL DEFAULT 'REQUESTED',
  `delivery_method` enum('BRANCH','COURIER','REGISTERED_POST') NOT NULL,
  `tracking_number` varchar(50) DEFAULT NULL,
  `delivery_date` date DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`cheque_book_id`),
  KEY `idx_cheque_account` (`account_number`),
  KEY `idx_cheque_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_cheques`
--

DROP TABLE IF EXISTS `cbs_cheques`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_cheques` (
  `cheque_id` varchar(36) NOT NULL,
  `account_number` varchar(20) NOT NULL,
  `cheque_number` varchar(20) NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `payee_name` varchar(100) NOT NULL,
  `presentation_date` date DEFAULT NULL,
  `clearing_date` date DEFAULT NULL,
  `status` enum('ISSUED','PRESENTED','CLEARED','BOUNCED','STOPPED') NOT NULL DEFAULT 'ISSUED',
  `transaction_id` varchar(36) DEFAULT NULL,
  `bounce_reason` varchar(255) DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`cheque_id`),
  KEY `idx_cheque_account` (`account_number`),
  KEY `idx_cheque_number` (`cheque_number`),
  KEY `idx_cheque_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_currency_rates`
--

DROP TABLE IF EXISTS `cbs_currency_rates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_currency_rates` (
  `rate_id` int NOT NULL AUTO_INCREMENT,
  `currency_code` varchar(3) NOT NULL,
  `base_currency` varchar(3) NOT NULL DEFAULT 'INR',
  `buy_rate` decimal(12,6) NOT NULL,
  `sell_rate` decimal(12,6) NOT NULL,
  `mid_rate` decimal(12,6) NOT NULL,
  `effective_date` date NOT NULL,
  `expiry_date` date DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `updated_by` varchar(20) NOT NULL,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`rate_id`),
  KEY `idx_currency_code` (`currency_code`),
  KEY `idx_effective_date` (`effective_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_customers`
--

DROP TABLE IF EXISTS `cbs_customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_customers` (
  `customer_id` varchar(20) NOT NULL,
  `name` varchar(100) NOT NULL,
  `dob` date NOT NULL,
  `address` varchar(255) NOT NULL,
  `email` varchar(100) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `status` enum('ACTIVE','INACTIVE','SUSPENDED','CLOSED') NOT NULL,
  `registration_date` datetime DEFAULT NULL,
  `kyc_status` enum('PENDING','PARTIAL','COMPLETED','REJECTED','EXPIRED') NOT NULL,
  `kyc_expiry_date` date DEFAULT NULL,
  `pan_number` varchar(10) DEFAULT NULL,
  `aadhar_number` varchar(12) DEFAULT NULL,
  `customer_segment` enum('RETAIL','CORPORATE','PRIORITY','NRI','SENIOR','MINOR','STUDENT') NOT NULL,
  `credit_score` int DEFAULT NULL,
  `last_updated` datetime DEFAULT NULL,
  `risk_category` enum('LOW','MEDIUM','HIGH') DEFAULT NULL,
  `fatca_compliance` tinyint(1) DEFAULT NULL,
  `consent_marketing` tinyint(1) DEFAULT NULL,
  `gender` enum('MALE','FEMALE','OTHER','PREFER_NOT_TO_SAY') NOT NULL,
  `nationality` varchar(50) DEFAULT NULL,
  `occupation` varchar(100) DEFAULT NULL,
  `annual_income` decimal(14,2) DEFAULT NULL,
  PRIMARY KEY (`customer_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_daily_withdrawals`
--

DROP TABLE IF EXISTS `cbs_daily_withdrawals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_daily_withdrawals` (
  `id` int NOT NULL AUTO_INCREMENT,
  `card_number` varchar(20) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `withdrawal_date` date NOT NULL,
  `withdrawal_time` datetime DEFAULT NULL,
  `atm_id` varchar(20) DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `suspicious_flag` tinyint(1) DEFAULT NULL,
  `response_code` varchar(10) DEFAULT NULL,
  `balance_after_withdrawal` decimal(12,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `card_number` (`card_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_db_version`
--

DROP TABLE IF EXISTS `cbs_db_version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_db_version` (
  `version_id` int NOT NULL AUTO_INCREMENT,
  `version_number` varchar(20) NOT NULL,
  `applied_on` datetime DEFAULT CURRENT_TIMESTAMP,
  `approved_by` varchar(50) DEFAULT NULL,
  `applied_by` varchar(50) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `script_name` varchar(255) DEFAULT NULL,
  `checksum` varchar(64) DEFAULT NULL,
  `execution_time` int DEFAULT NULL,
  `status` enum('SUCCESS','FAILED','REVERTED') NOT NULL DEFAULT 'SUCCESS',
  PRIMARY KEY (`version_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_fixed_deposits`
--

DROP TABLE IF EXISTS `cbs_fixed_deposits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_fixed_deposits` (
  `fd_id` varchar(36) NOT NULL,
  `account_number` varchar(20) NOT NULL,
  `customer_id` varchar(20) NOT NULL,
  `principal_amount` decimal(12,2) NOT NULL,
  `interest_rate` decimal(5,2) NOT NULL,
  `tenure_months` int NOT NULL,
  `start_date` date NOT NULL,
  `maturity_date` date NOT NULL,
  `maturity_amount` decimal(12,2) NOT NULL,
  `interest_payout_frequency` enum('MONTHLY','QUARTERLY','HALF_YEARLY','ANNUALLY','AT_MATURITY') NOT NULL,
  `auto_renewal` tinyint(1) DEFAULT '0',
  `premature_withdrawal_allowed` tinyint(1) DEFAULT '1',
  `premature_withdrawal_penalty` decimal(5,2) DEFAULT '1.00',
  `interest_payout_account` varchar(20) DEFAULT NULL,
  `status` enum('ACTIVE','MATURED','CLOSED','PREMATURE_WITHDRAWAL') NOT NULL DEFAULT 'ACTIVE',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`fd_id`),
  KEY `idx_fd_customer` (`customer_id`),
  KEY `idx_fd_account` (`account_number`),
  KEY `idx_fd_status` (`status`),
  KEY `idx_fd_maturity` (`maturity_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_interest_rates`
--

DROP TABLE IF EXISTS `cbs_interest_rates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_interest_rates` (
  `rate_id` int NOT NULL AUTO_INCREMENT,
  `product_type` enum('SAVINGS','CURRENT','FIXED_DEPOSIT','RECURRING_DEPOSIT','HOME_LOAN','PERSONAL_LOAN','VEHICLE_LOAN','EDUCATION_LOAN') NOT NULL,
  `customer_type` enum('REGULAR','SENIOR_CITIZEN','STAFF','MINOR','CORPORATE') NOT NULL DEFAULT 'REGULAR',
  `minimum_balance` decimal(12,2) DEFAULT NULL,
  `maximum_balance` decimal(14,2) DEFAULT NULL,
  `tenure_days` int DEFAULT NULL,
  `interest_rate` decimal(5,2) NOT NULL,
  `effective_from` date NOT NULL,
  `effective_to` date DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_by` varchar(20) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`rate_id`),
  KEY `idx_interest_product` (`product_type`),
  KEY `idx_interest_customer` (`customer_type`),
  KEY `idx_interest_effective` (`effective_from`,`effective_to`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_loan_repayments`
--

DROP TABLE IF EXISTS `cbs_loan_repayments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_loan_repayments` (
  `repayment_id` varchar(36) NOT NULL,
  `loan_id` varchar(36) NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `principal_component` decimal(12,2) NOT NULL,
  `interest_component` decimal(12,2) NOT NULL,
  `penalties` decimal(10,2) DEFAULT '0.00',
  `repayment_date` date NOT NULL,
  `payment_mode` enum('CASH','CHEQUE','AUTO_DEBIT','ONLINE','UPI') NOT NULL,
  `payment_reference` varchar(50) DEFAULT NULL,
  `status` enum('PAID','MISSED','PARTIAL','FUTURE') NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`repayment_id`),
  KEY `idx_repayment_loan` (`loan_id`),
  KEY `idx_repayment_date` (`repayment_date`),
  KEY `idx_repayment_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_loans`
--

DROP TABLE IF EXISTS `cbs_loans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_loans` (
  `loan_id` varchar(36) NOT NULL,
  `account_number` varchar(20) NOT NULL,
  `customer_id` varchar(20) NOT NULL,
  `loan_type` enum('HOME','VEHICLE','PERSONAL','EDUCATION','BUSINESS','AGRICULTURE','GOLD') NOT NULL,
  `application_date` date NOT NULL,
  `approval_date` date DEFAULT NULL,
  `principal_amount` decimal(12,2) NOT NULL,
  `disbursed_amount` decimal(12,2) DEFAULT NULL,
  `interest_rate` decimal(5,2) NOT NULL,
  `interest_type` enum('FIXED','FLOATING','HYBRID') NOT NULL,
  `tenure_months` int NOT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `emi_amount` decimal(12,2) DEFAULT NULL,
  `emi_date` int NOT NULL,
  `total_emis` int NOT NULL,
  `emis_paid` int DEFAULT '0',
  `processing_fee` decimal(10,2) DEFAULT '0.00',
  `prepayment_penalty` decimal(5,2) DEFAULT '0.00',
  `collateral_type` varchar(50) DEFAULT NULL,
  `collateral_value` decimal(14,2) DEFAULT NULL,
  `collateral_details` text,
  `guarantor_id` varchar(20) DEFAULT NULL,
  `purpose` varchar(255) DEFAULT NULL,
  `status` enum('APPLIED','APPROVED','REJECTED','ACTIVE','CLOSED','DEFAULTED','SETTLED','WRITTEN_OFF') NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`loan_id`),
  KEY `account_number` (`account_number`),
  KEY `idx_loan_customer` (`customer_id`),
  KEY `idx_loan_status` (`status`),
  KEY `idx_loan_type` (`loan_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_mobile_users`
--

DROP TABLE IF EXISTS `cbs_mobile_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_mobile_users` (
  `mobile_user_id` varchar(36) NOT NULL,
  `customer_id` varchar(20) NOT NULL,
  `username` varchar(50) DEFAULT NULL,
  `password_hash` varchar(128) NOT NULL,
  `salt` varchar(64) NOT NULL,
  `device_id` varchar(100) DEFAULT NULL,
  `device_model` varchar(100) DEFAULT NULL,
  `os_type` varchar(20) NOT NULL,
  `os_version` varchar(20) DEFAULT NULL,
  `app_version` varchar(20) NOT NULL,
  `fcm_token` varchar(255) DEFAULT NULL,
  `biometric_enabled` tinyint(1) DEFAULT NULL,
  `pin_enabled` tinyint(1) DEFAULT NULL,
  `pin_hash` varchar(128) DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  `failed_login_attempts` int DEFAULT NULL,
  `last_login` datetime DEFAULT NULL,
  `registered_at` datetime DEFAULT NULL,
  `last_activity` datetime DEFAULT NULL,
  `preferred_language` varchar(10) DEFAULT NULL,
  `notification_preferences` text,
  `two_fa_enabled` tinyint(1) DEFAULT NULL,
  `two_fa_type` varchar(20) DEFAULT NULL,
  `two_fa_secret` varchar(128) DEFAULT NULL,
  `location_services_enabled` tinyint(1) DEFAULT NULL,
  `last_password_change` datetime DEFAULT NULL,
  `activated_at` datetime DEFAULT NULL,
  `activated_by` varchar(20) DEFAULT NULL,
  `account_limit_override` text,
  PRIMARY KEY (`mobile_user_id`),
  UNIQUE KEY `username` (`username`),
  KEY `customer_id` (`customer_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_scheduled_jobs`
--

DROP TABLE IF EXISTS `cbs_scheduled_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_scheduled_jobs` (
  `job_id` varchar(36) NOT NULL,
  `job_type` enum('INTEREST_CALCULATION','ACCOUNT_STATEMENT','LOAN_EMI','STANDING_INSTRUCTION','FIXED_DEPOSIT_MATURITY','EOD_PROCESS') NOT NULL,
  `entity_id` varchar(36) DEFAULT NULL,
  `entity_type` varchar(50) DEFAULT NULL,
  `scheduled_time` datetime NOT NULL,
  `status` enum('SCHEDULED','RUNNING','COMPLETED','FAILED','CANCELLED') NOT NULL DEFAULT 'SCHEDULED',
  `priority` int DEFAULT '5',
  `retry_count` int DEFAULT '0',
  `max_retries` int DEFAULT '3',
  `last_run_time` datetime DEFAULT NULL,
  `next_run_time` datetime DEFAULT NULL,
  `error_message` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`job_id`),
  KEY `idx_job_type` (`job_type`),
  KEY `idx_job_status` (`status`),
  KEY `idx_job_scheduled` (`scheduled_time`),
  KEY `idx_job_next_run` (`next_run_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_sessions`
--

DROP TABLE IF EXISTS `cbs_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_sessions` (
  `session_id` varchar(64) NOT NULL,
  `user_id` varchar(50) NOT NULL,
  `user_type` enum('CUSTOMER','ADMIN','API') NOT NULL,
  `login_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `expiry_time` datetime NOT NULL,
  `last_activity_time` datetime NOT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `device_info` varchar(255) DEFAULT NULL,
  `browser` varchar(100) DEFAULT NULL,
  `operating_system` varchar(100) DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `user_agent` varchar(512) DEFAULT NULL,
  `auth_method` enum('PASSWORD','OTP','BIOMETRIC','2FA','SSO') NOT NULL,
  `mfa_verified` tinyint(1) DEFAULT '0',
  `status` enum('ACTIVE','EXPIRED','TERMINATED','SUSPICIOUS') NOT NULL DEFAULT 'ACTIVE',
  `reason_for_termination` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`session_id`),
  KEY `idx_session_user` (`user_id`,`user_type`),
  KEY `idx_session_status` (`status`),
  KEY `idx_session_expiry` (`expiry_time`),
  KEY `idx_session_last_activity` (`last_activity_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_standing_instructions`
--

DROP TABLE IF EXISTS `cbs_standing_instructions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_standing_instructions` (
  `instruction_id` varchar(36) NOT NULL,
  `customer_id` varchar(20) NOT NULL,
  `source_account` varchar(20) NOT NULL,
  `destination_account` varchar(20) NOT NULL,
  `destination_account_ifsc` varchar(11) DEFAULT NULL,
  `beneficiary_name` varchar(100) NOT NULL,
  `transfer_type` enum('INTERNAL','NEFT','RTGS','IMPS') NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `frequency` enum('DAILY','WEEKLY','MONTHLY','QUARTERLY','HALF_YEARLY','YEARLY') NOT NULL,
  `execution_day` int NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date DEFAULT NULL,
  `next_execution_date` date NOT NULL,
  `status` enum('ACTIVE','PAUSED','EXPIRED','CANCELLED') NOT NULL DEFAULT 'ACTIVE',
  `remarks` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`instruction_id`),
  KEY `idx_si_customer` (`customer_id`),
  KEY `idx_si_source` (`source_account`),
  KEY `idx_si_next_execution` (`next_execution_date`),
  KEY `idx_si_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_system_logs`
--

DROP TABLE IF EXISTS `cbs_system_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_system_logs` (
  `log_id` bigint NOT NULL AUTO_INCREMENT,
  `timestamp` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `log_level` enum('DEBUG','INFO','NOTICE','WARNING','ERROR','CRITICAL','ALERT','EMERGENCY') NOT NULL,
  `component` varchar(50) NOT NULL,
  `module` varchar(50) NOT NULL,
  `message` text NOT NULL,
  `details` text,
  `stack_trace` text,
  `request_id` varchar(64) DEFAULT NULL,
  `server_name` varchar(100) DEFAULT NULL,
  `severity` int NOT NULL DEFAULT '1',
  PRIMARY KEY (`log_id`,`timestamp`),
  KEY `idx_log_timestamp` (`timestamp`),
  KEY `idx_log_level` (`log_level`),
  KEY `idx_log_component` (`component`),
  KEY `idx_log_module` (`module`),
  KEY `idx_log_severity` (`severity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_test`
--

DROP TABLE IF EXISTS `cbs_test`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_test` (
  `id` int NOT NULL AUTO_INCREMENT,
  `test_key` varchar(50) NOT NULL,
  `test_value` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_transactions`
--

DROP TABLE IF EXISTS `cbs_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_transactions` (
  `transaction_id` varchar(36) NOT NULL,
  `card_number` varchar(20) DEFAULT NULL,
  `account_number` varchar(20) NOT NULL,
  `transaction_type` enum('WITHDRAWAL','DEPOSIT','TRANSFER','PAYMENT','BALANCE_INQUIRY','MINI_STATEMENT','PIN_CHANGE','CHEQUE_DEPOSIT','INTEREST_CREDIT','FEE_DEBIT','REVERSAL','REFUND','EMI_PAYMENT','BILL_PAYMENT','LOAN_DISBURSEMENT','GST_TAX','TDS_DEDUCTION','DIVIDEND','CASHBACK','REWARD_REDEMPTION','CHARGEBACK','EXCHANGE') NOT NULL,
  `channel` enum('ATM','BRANCH','INTERNET','MOBILE','POS','UPI','IMPS','NEFT','RTGS','CHEQUE','CASH','STANDING_INSTRUCTION','API','PHONE_BANKING','BILLDESK','AUTO_DEBIT','POS_INTERNATIONAL','E_COMMERCE','BULK_UPLOAD') NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `currency` varchar(3) DEFAULT NULL,
  `balance_before` decimal(12,2) NOT NULL,
  `balance_after` decimal(12,2) NOT NULL,
  `transaction_date` datetime DEFAULT NULL,
  `value_date` date NOT NULL,
  `status` enum('PENDING','SUCCESS','FAILED','REVERSED','DISPUTED','UNDER_REVIEW','SETTLED','AUTHORIZED','CANCELLED','TIMEOUT','SCHEDULED') NOT NULL,
  `reference_number` varchar(50) DEFAULT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `transaction_location` varchar(255) DEFAULT NULL,
  `merchant_category_code` varchar(4) DEFAULT NULL,
  `merchant_name` varchar(100) DEFAULT NULL,
  `sender_details` varchar(255) DEFAULT NULL,
  `receiver_details` varchar(255) DEFAULT NULL,
  `transaction_fee` decimal(10,2) DEFAULT NULL,
  `tax_amount` decimal(10,2) DEFAULT NULL,
  `exchange_rate` decimal(12,6) DEFAULT NULL,
  `original_amount` decimal(12,2) DEFAULT NULL,
  `original_currency` varchar(3) DEFAULT NULL,
  `batch_id` varchar(50) DEFAULT NULL,
  `response_code` varchar(10) DEFAULT NULL,
  `processing_time` int DEFAULT NULL,
  `device_id` varchar(100) DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`transaction_id`),
  KEY `card_number` (`card_number`),
  KEY `account_number` (`account_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cbs_transfers`
--

DROP TABLE IF EXISTS `cbs_transfers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cbs_transfers` (
  `transfer_id` varchar(36) NOT NULL,
  `transaction_id` varchar(36) NOT NULL,
  `source_account` varchar(20) NOT NULL,
  `destination_account` varchar(20) NOT NULL,
  `beneficiary_name` varchar(100) DEFAULT NULL,
  `beneficiary_bank` varchar(100) DEFAULT NULL,
  `beneficiary_ifsc` varchar(20) DEFAULT NULL,
  `transfer_type` varchar(20) NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `transfer_date` datetime DEFAULT NULL,
  `processing_date` datetime DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `reference_number` varchar(50) DEFAULT NULL,
  `purpose_code` varchar(4) DEFAULT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `charges` decimal(10,2) DEFAULT NULL,
  `scheduled_transfer` tinyint(1) DEFAULT NULL,
  `recurring_transfer` tinyint(1) DEFAULT NULL,
  `frequency` varchar(20) DEFAULT NULL,
  `next_execution_date` date DEFAULT NULL,
  `max_attempts` int DEFAULT NULL,
  `current_attempt` int DEFAULT NULL,
  `remitter_to_beneficiary_info` varchar(255) DEFAULT NULL,
  `regulatory_info` varchar(255) DEFAULT NULL,
  `foreign_exchange_rate` decimal(12,6) DEFAULT NULL,
  `intermediary_bank` varchar(100) DEFAULT NULL,
  `correspondence_charges` varchar(3) DEFAULT NULL,
  PRIMARY KEY (`transfer_id`),
  KEY `transaction_id` (`transaction_id`),
  KEY `source_account` (`source_account`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-05-13  0:50:58
